@(selected: Option[utils.ModuleType] = None)(implicit lang: play.api.i18n.Lang)

@import utils.ModuleType
@import play.api.i18n

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="@routes.Application.index()">Persistance</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li @if(ModuleType.PORTFOLIO.equals(selected)){ class="active"} ><a href="@routes.Portfolios.index()">@Messages(ModuleType.PORTFOLIO.i18nKey)</a></li>
                    <li @if(ModuleType.BLOG.equals(selected)){ class="active"}><a href="@routes.Blog.index()">@Messages(ModuleType.BLOG.i18nKey)</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li @if(ModuleType.ADMINISTRATION.equals(selected)){ class="active"}><a href="@routes.Administration.index()">@Messages(ModuleType.ADMINISTRATION.i18nKey)</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>