@(selected: utils.ModulesType = utils.ModulesType.HOME)
@import utils.ModulesType

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="@routes.Application.index()">[LA-trait]</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li @if(ModulesType.HOME.equals(selected)){ class="active"} ><a href="@routes.Application.index()">@ModulesType.HOME.i18nKey</a></li>
                    <li @if(ModulesType.PORTFOLIO.equals(selected)){ class="active"} ><a href="@routes.Portfolios.index()">@ModulesType.PORTFOLIO.i18nKey</a></li>
                    <li @if(ModulesType.BLOG.equals(selected)){ class="active"}><a href="@routes.Blog.index()">@ModulesType.BLOG.i18nKey</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>