@(id: String, postForm: Form[Post])(implicit flash: Flash, lang: play.api.i18n.Lang, user: Option[User])

@import helper._
@import utils.ModuleType

@implicitFieldConstructor = @{ FieldConstructor(tags.twitterBootstrapInput.f) }

@main(ModuleType.BLOG, Some("Blog")) {
  
	@postForm.globalError.map { error =>
		<div class="row">
			<div span="12">
				<p class="error">@error.message</p>
			</div>
		</div>
	}
  	<div class="row">
		<div class="span12">
			@form(action = routes.Blog.update(postForm("_id").toString), args = 'class -> "form-horizontal") {
				<legend>@Messages("blog.edit.legend")</legend>
				<fieldset>
					<input type="hidden" name="_id" value="@id">
					@inputText(postForm("title"), '_label -> Messages("blog.post.title"))
					@textarea(postForm("content"), '_label -> Messages("blog.post.content"), 'class -> "markItUp" )
                    @checkbox(
                        postForm("featured"),
                        '_label -> Messages("blog.post.featured"),
                        '_showConstraints -> false
                    )
	            	<div class="form-actions">
						<button type="submit" class="btn btn-primary">@Messages("blog.edit.update")</button>
						<a class="btn" href="@routes.Blog.show(id.toString())">@Messages("blog.edit.cancel")</a>
					</div>
				</fieldset>
			}
		</div>
	</div>
}