@(count: Long, featured: Option[Post], posts: List[Post])(implicit flash: Flash, lang: play.api.i18n.Lang, user: Option[User])

@import utils.ModuleType

@main(Some(ModuleType.BLOG), Some("Blog")) {
	
	  @featured match {
	    case Some(featured) => {
		  <div class="hero-unit">
		  	<h1>@featured.title</h1>  
		  	<p>@featured.content</p>
	    	<p><a class="btn btn-primary btn-large">Learn more »</a></p>
		  </div>
	    }
	    case _ => {
	      ""
	    }
	  }
		
	
	@for(post <- posts) {
		<div class="row">
			<div class="span12">
				<h2>@post.title</h2>
				<p>@post.content.get</p>
				<p><a class="btn" href="@routes.Blog.show(post._id.toString())">Learn more »</a></p>
			</div>
		</div>
	}
}