@(count: Long, featured: Option[Post], posts: List[Post])(implicit flash: Flash, lang: play.api.i18n.Lang, user: Option[User])

@import utils.ModuleType

@main(ModuleType.BLOG, Some("Blog")) {
	
	@featured match {
	    case Some(featured) => {
		    <div class="hero-unit">
		  	    <h1>@featured.title</h1>
		  	    <p>@featured.content</p>
	    	    <p><a class="btn btn-primary" href="@routes.Blog.show(featured._id.toString())">Learn more »</a></p>
		    </div>
	    }
	    case None => {
        }
    }
    @user match {
        case Some(user) => {
            <div class="row">
                <div class="span12">
                    <a href="@routes.Blog.create" class="btn btn-warning">@Messages("blog.create")</a>
                </div>
            </div>
        }
        case None => {
        }
    }

	@for(post <- posts) {
		<div class="row">
			<div class="span12">
				<h2>@post.title</h2>
				<p>@post.content</p>
				<p><a class="btn" href="@routes.Blog.show(post._id.toString())">Learn more »</a></p>
			</div>
		</div>
	}
}