@(post: Post)(implicit flash: Flash, lang: play.api.i18n.Lang, user: Option[User])

@import plugin.TemplateUtils._
@import utils.ModuleType

@main(ModuleType.BLOG, Some("Blog")) {
	@flash.get("success").map { message =>
		<div class="alert alert-success fade in">
			<a class="close" data-dismiss="alert" href="#">×</a>
			@message
		</div>
  	}

    <div class="row">
        <div class="span12">
            <h2>@post.title</h2>
            <h5>@Messages("post.by") @getUser(post.authorId.get).fullname, @Messages("post.at") @formatDate(post.created)
                 @* user match {
                    case Some(user) => {
                         @if(post.authorId.get.equals(user._id)) {    *@
                            <a class="btn btn-mini" href="@routes.Blog.edit(post._id.toString())" title="@Messages("post.edit")"><i class="icon-pencil"></i></a>
                        @* }
                    }
                    case None => {
                    }
                } *@
            </h5>
            <p>@post.content</p>
        </div>
    </div>

    @tags.comments(post.comments)
}