@(loginForm: Form[controllers.Application.Login])(implicit flash: Flash, lang: play.api.i18n.Lang, user: Option[User])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(tags.twitterBootstrapInput.f) }

@main() {
    <div class="row">
		<div class="span12">
			@loginForm.globalError.map { error =>
                <div class="alert alert-error fade in">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    @error.message
                </div>
			}
			@flash.get("success").map { message =>
                <div class="alert alert-success fade in">
                    <a class="close" data-dismiss="alert" href="#">×</a>
				        @message
                </div>
			}
			@form(action = routes.Application.authenticate, args = 'class -> "form-horizontal") {
                <input type="hidden" name="@loginForm("redirect").name" value="@loginForm("redirect").value">
				<legend>@Messages("login.signin")</legend>
				<fieldset>

					@inputText(loginForm("username"), '_label -> Messages("login.username"), 'placeholder -> Messages("login.username"))
	            	@inputPassword(loginForm("password"), '_label -> Messages("login.password"), 'placeholder -> Messages("login.password"))
	            	<div class="form-actions">
	            		<button type="submit" class="btn btn-primary">@Messages("login.login")</button>
	           		</div>
				</fieldset>
			}
		</div>
	</div>
}