@(selected: utils.ModuleType = utils.ModuleType.HOME, subtitle: Option[String] = None)(content: Html)(implicit flash: Flash, lang: play.api.i18n.Lang, user: Option[User])

@import com.google.common.base.Strings

@title(subtitle: Option[String]) = @{
  subtitle match {
    case Some(subtitle) if !Strings.isNullOrEmpty(subtitle) => (controllers.Application.applicationName + " " + subtitle).trim()
    case None => controllers.Application.applicationName
  }
}

<!DOCTYPE html>

<html>
    <head>
        <title>@title(subtitle)</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/responsive.min.css")" />
        <link rel="stylesheet" media="screen" type="text/css" href="@routes.Assets.at("stylesheets/plugin/markitup/skins/simple/style.css")" />
        <link rel="stylesheet" media="screen" type="text/css" href="@routes.Assets.at("stylesheets/plugin/markitup/sets/default/style.css")" />
        <style type="text/css">
            body {
            	padding-top: 60px;
            	padding-bottom: 40px;
            }
        </style>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    </head>
    <body>
        @tags.navigation(selected)
		<div class="container">
        	@content
		</div>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/vendor/jquery-1.7.1.min.js")" ></script>
        <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/plugin/markitup/jquery.markitup.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/plugin/markitup/sets/default/set.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.min.js")"></script>
    </body>
</html>
